body {
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(219, 202, 179);
  }
  
  .container {
    padding: 20px;
  }
  
  .App {
    font-family: sans-serif;
  }

  .header {
    font-weight: bold;
    color:rgb(173, 138, 138);
    text-align: center
  }
  
  .heading {
    font-weight: bold;
    text-decoration: underline;
    color:grey;
  }
  
  .pad {
    padding: 20px 0px;
  }
  
  li {
    list-style: none;
    padding: 5px;
  }
  
  .sidebar {
    width: 30%;
    height: auto;
    display: inline-block;
    color: rgb(229, 209, 186);
    background-color:  rgb(212, 161, 103);
  }
  
  .main {
    width: 69%;
    height: 100%;
    display: inline-block;
    height: 100%;
    float: right;
  }

  .headertext{
      color: rosybrown;
      text-align: center;
      background-color: beige
  }
  
  textarea {
    width: 100%;
    margin: 20px 0px;
    min-height: 80px;
  }
  
  .add-btn {
    width: 150px;
    float: right;
    height: 60px;
  }
  